*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: minmax(300px, 1fr) 6fr;
    gap: 8px;
    height: 100vh;
}

header {
    grid-column: 1/3;
    padding: 16px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    background-color: rgb(61, 21, 61);
    color: white;
}

aside.sidebar{
    background-color: rgb(212, 139, 212);
    grid-column: 1/2;
    grid-row: 2/-1;
}

aside.sidebar nav, aside.sidebar form {
    padding: 4px;
    margin-top: 6px;
    display: flex;
}

aside.sidebar nav{
    flex-flow: column wrap;
}

aside.sidebar form>input{
    flex: 1;
}

aside.sidebar nav>.button-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

aside.sidebar .button-container>button.project {
    text-transform: capitalize;
    flex: 1;
}

aside.sidebar nav div.selected {
    background-color: rgb(145, 71, 145);
    color: white;
    outline: none;
}


aside.sidebar div.selected button {
    background-color: rgb(145, 71, 145);
    color: white;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

aside.sidebar button, aside.sidebar form input{
    font-size: 1.2rem;
    text-align: left;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid black;
    padding: 8px;
}


main {
    background-color: rgb(228, 204, 228);
}

main .list {
    height: 100%;
    padding: 24px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 280px));
}

main .list .todo {
    background-color: rgb(238, 221, 238);
}

main .list .todo.low{
    border-left: 10px solid rgb(228, 228, 120);
}

main .list .todo.medium{
    border-left: 10px solid rgb(223, 181, 105);
}

main .list .todo.high{
    border-left: 10px solid rgb(255, 98, 98);
}

main .list .todo.completed {
    background-color: rgb(206, 190, 190);
    border-left: 10px solid rgb(165, 161, 161);
}


main .list .todo{
    padding: 32px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
}

main .list .todo .container {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    text-transform: capitalize;
    align-self: stretch;
}


main .todo .button-container {
    display: flex;
    gap: 8px;
    padding: 8px;;
}

main .list input[type = "checkbox"]{
    align-self: flex-start;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

main .list h3 {
    font-size: 2rem;
}


main .list .todo .container button {
    font-size: 0.8rem;
    background-color: transparent;
    border: 0.5px solid black;
    outline: 0.5px solid black;
}

main dialog.details-dialog {
    margin: auto;
    max-width: 40vw;
    padding: 32px;
}


main dialog.details-dialog h4 {
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
    padding: 8px 0;
}

main dialog.details-dialog p {
    padding: 4px 0;
    font-size: 1.2rem;
}

main dialog.details-dialog .buttons-container{
    display: flex;
    gap: 16px;
    padding: 8px 0;
    align-self: center;
}

main #add-task-button{
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100px;
}

button:focus {
    outline: 1px solid black;             
}

button:hover {
    transform: scale(1.01);
}

button:active {
    transform: scale(0.95);
}

button {
    padding: 8px 16px;
}


dialog#add-task-dialog {
    padding: 4px 16px;
    margin: auto auto 0;
    width: 60%;
    position: relative;
}

.add-task-form {
    padding: 24px;
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

#add-task-dialog .cancel{
    position: absolute;
    left: 30px;
    color: red;
    
}

#add-task-dialog button {
    font-size: 1.5rem;
    font-family: "Red Hat Mono", monospace;
    font-weight: bold;
    padding: none;
    border: none;
    background-color: transparent;
}

.add-task-form .select-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 80%;
}

.add-task-form .select-container .container {
    overflow: hidden;
    flex: 1;
}

.add-task-form .container {
    padding: 0 16px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.add-task-form .container{
    display: flex;
    width: 80%;
}

form input, form textarea, form select {
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-family: "Red Hat Mono", monospace;
    padding: 2px;
}

form label, form button {
    font-family: "Red Hat Mono", monospace;
    font-size: 1rem;
}

textarea {
    resize: none;
    overflow: hidden;
}

.add-task-form #title {
    font-size: 1.8rem;
    padding: 4px;
    border-bottom: 2px solid black;
    text-transform: capitalize;
}

form input:focus, form textarea:focus, form select:focus, form button:focus{
    outline: 1px solid #2c2a2a;
}

form input:user-invalid {
    outline: 2px solid red;
}

form input:required {
    background-color: rgb(255, 225, 225);
}

label.required {
    color: rgba(187, 0, 0, 0.973);
}



